---
layout: page
title: Success Stories
classes:
  - "success-stories"
permalink: /success-stories/
tag: success_stories
---

<main class="content" role="main">
    <div class="cf frame">
      {% for post in site.posts %}
        {% if post.tags contains page.tag %}
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
          <div class="article-item">
            <header class="post-header">
              <h2 class="post-title" itemprop="name"><a href="{{ post.url }}" itemprop="url">{{ post.title }}</a></h2>
            </header>
            <header class="post-header">
              <h3 class="post-subtitle" itemprop="name"><a href="{{ post.url }}" itemprop="url">{{ post.subtitle }}</a></h3>
            </header>
            <section class="post-excerpt" itemprop="description">
              <p><a href="{{ post.url }}" itemprop="url">{{ post.excerpt | strip_html | truncatewords: 50 }}</a></p>
            </section>
            <a class="post-read-more" href="{{ post.url }}" itemprop="url">Click to read more...</a>
            <div class="post-meta">
              <time datetime="{{ post.date | date_to_long_string }}">{{ post.date | date_to_long_string }}</time>
            </div>
          </div>
        </article>
        {% endif %}
      {% endfor %}
    </div>
</main>
